<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
</head>
<body>
<h1>메인 페이지</h1>
<hr>
<a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
<a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아옷</a>
<a sec:authorize="isAnonymous()" th:href="@{/user/signup}">Sign Up</a>
<a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/user/info}">네정부</a>
<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Admin</a>
</body>
</html>